body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI,sans-serif;
  background-color: #c8c8c8;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.box-card {
  width: 100%;
  margin: 20px;
}

.s-menu {
  display: flex;
  flex-direction: row;
  background: #0f4c67;
  color: #ffffff;
}

.s-menu_item, .s-menu_option, .s-menu_active {
  padding: 10px 30px;
  cursor: pointer;
}

.s-menu_item:hover, .s-menu_option:hover {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #2b81af;
}

.active {
  background-color: #107593;
}

.s-menu_options, .s-menu_links {
  display: flex;
  flex-direction: row;
}

.s-section {
  display: flex;
  justify-content: center;
}

.s-content {
  width: 95%;
  margin: 10px 0;
}

.s-header {
  font-size: 20px;
  color: #0f4c67;
  margin-top: 0;
}

.s-header_min {
  margin-top: 10px;
  font-size: 16px;
  color: #0f4c67;
}

.s-header_xs {
  margin-top: 20px;
  font-size: 14px;
  color: #0f4c67;
}

.s-list {
  margin: 20px 0;
  padding: 0;
}

.s-list_item:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.s-list_item {
  list-style: none;
  padding: 0 15px;
  height: 50px;
  border-bottom: 1px solid #d6d6d6;
  font-size: 18px;
  color: #0f4c67;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-list_item_options button {
  padding: 8px !important;
}

.materials-form label {
  /*padding: 0 !important;*/
  line-height: 20px;
}

.materials-form .el-form-item {
  margin-bottom: 10px;
  width: 40%;
  display: inline-flex;
  flex-direction: column;
}

.calculate-form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.calculateForm_block {
  width: 50%;
}

.calculate-form .el-form-item__label {
  line-height: 20px;
}

.calculate-form .el-form-item__content {
  width: 160px;
}

